*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: rgb(57, 57, 163);
}
#containerPrincipal{
    width: 900px;
    height: 600px;
    margin: auto;
    margin-top: 140px;
    display: flex;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 0.4) 5px 5px 10px;

}
.sectionOne{
    width: 60%;
    height: 100%;
    background-color: rgb(233, 245, 248);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionOne img{
    width: 70%;
    height: 70%;
}
.sectionOne img:hover{
    width: 80%;
    height: 80%;
    transition: 0.8s;
}
.sectionTwo{
    width: 40%;
    height: 100%;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.sectionTwo h3{
    color: rgb(0, 0, 0, 0.4);
    font-size: 15px;
    padding-left: 50px;
}
.register{
    height: 100px;
    padding-top: 10px;
    padding-right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.singUpButton{
    border: 1px solid rgb(57, 57, 163);
    color: rgb(57, 57, 163);
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
}
.singUpButton:hover{
    background-color: rgb(57, 57, 163);
    color: white;
}
.form{
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 80%;
    height: 80%;
}
.login h3 {
    font-size: 45px;
    color: rgb(57, 57, 163, 0.8);
    padding: 0px 0px 50px 0px;
}
.input{
    padding: 5px 0px 5px 0px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    outline: none;
    width: 100%;
}
.input::placeholder{
    color: rgb(0, 0, 0, 0.4);
    font-size: 12px;
}
.input:focus{
    border-bottom: 1px solid rgb(57, 57, 163);
    transition: 0.5s;
}
label{
    font-weight: bold;
    color: rgb(0, 0, 0, 0.6);
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0, 0.4);
    font-size: 11px;
    text-align: center;
    position: relative;
    left: 180px;
    top: 8px;
}
a:hover{
    color: rgb(57, 57, 163);
}
.logInButton{
    border: 1px solid rgb(57, 57, 163);
    color: white;
    background-color: rgb(57, 57, 163);
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}
.logInButton:hover{
    background-color: white;
    color: rgb(57, 57, 163);
    
}
.labelCheckbox{
    font-size: 15px;
    font-weight: normal;
    position: relative;
    left: 100px;
}


footer{
    color: white;
    text-align: center;
    margin-top: 180px;
}

/* Recuperação de senha */

#recovery{
    width: 900px;
    height: 600px;
    background-color: white;
    margin: auto;
    margin-top: 140px;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 0.4) 5px 5px 10px;
}
.recoveryTitle{
    text-align: center;
    color: rgb(57, 57, 163, 0.8);
    padding-top: 90px;
    font-size: 40px;
}
p{
    font-size: 25px;
    color: rgb(0, 0, 0, 0.6);
    text-align: center;
    padding-top: 30px;
    text-align: justify;
}
.recoverySection{
    width: 80%;
    height: 70%;
    margin: auto;
}
.recoveryForm{
    margin-top: 50px;
    font-size: 20px;
}
.recoveryInput{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.4);
    padding: 5px 0px 5px 5px;
    outline: none;
    width: 100%;
}
.recoveryInput::placeholder{
    font-size: 12px;
    color: rgb(0, 0, 0, 0.4);
}
.recoveryInput:focus{
    border-bottom: 1px solid rgb(57, 57, 163);
    transition: 0.5s;
}
.recoveryButton{
    border: 1px solid rgb(57, 57, 163);
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgb(57, 57, 163);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.recoveryButton:hover{
    color: rgb(57, 57, 163);
    background-color: white;
}